<%#= stylesheet_link_tag "bootstrap.vertical-tabs" %>
<div class="col-xs-3"> <!-- required for floating -->
  <!-- Nav tabs -->
  <h2><%= @event.event_name %></h2>

  <ul class="nav nav-tabs tabs-left">
    <li class="active"><a href=<%= "#event_details" %> data-toggle="tab" class="remove_inner_html">Event Details</a></li>
    <li><a href=<%= "#hall_details" %> data-toggle="tab" class="remove_inner_html">Event Hall Details</a></li>
    <li><a href=<%= "#band_details" %> data-toggle="tab" class="remove_inner_html">Band Details</a></li>
    <li><a href=<%= "#back_stage_members" %> data-toggle="tab" class="remove_inner_html">Event Organizers</a></li>
  </ul>
</div>

<div class="col-xs-9">
  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id=<%= "event_details" %>>
      <% if @event_detail.present? %>
        <table class="table table-striped">
          <thead>
          <th>Institute Name</th>
          <th>Institute Type</th>
          <th>Location</th>
          </thead>
          <tbody>
            <tr>
              <td class="col-md=4"><%= @event_detail.try(:institute_name)  %></td>
              <td class="col-md=4"><%= @event_detail.try(:institute_type) %></td>
              <td class="col-md=4"><%= @event_detail.try(:location) %></td>
            </tr>
          </tbody>
        </table>
      <% else %>
        <h2>No event found.</h2>
      <% end %>
    </div>

    <div class="tab-pane" id=<%= "hall_details" %>>
      <% if @event_hall.present? %>
        <div>
          <h3><%= @event_hall.hall_name %></h3>
          <div>
            <% @event_hall.hall_details.each do |hall_detail| %>
                <%= image_tag(hall_detail.thumbnail_url, size: "100x100", style: 'margin-top: 4px;') %>
            <% end %>
          </div>
        </div>
      <% else %>
        <h2>No event found.</h2>
      <% end %>
    </div>
    <!--<div class="row">-->
      <div class="tab-pane col-md-3" id=<%= "band_details" %>>
        <table class="table table-striped">
          <thead>
          <th>Band Name</th>
          </thead>
          <tbody>
          <% @event_bands.each do |band| %>
              <tr>
                <td class="col-md=4"><%= link_to band.try(:band_name), band_events_path({id: band.id}), remote: true  %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <div class="col-md-8" id="show-parent">
        <div id="show">

        </div>
      </div>
    <!--</div>-->

    <div class="tab-pane" id=<%= "back_stage_members" %>>
      <% if @event_hall.present? %>
        <table class="table table-striped">
          <thead>
          <th>Member Name</th>
          </thead>
          <tbody>
            <% @event_organizers.each do |member| %>
              <tr>
                <td class="col-md=4"><%= member.try(:member_name)  %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
          <h2>No event found.</h2>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $(".remove_inner_html").click(function(){
      $("#show").empty();
    })
  })
</script>